ProjectInfo {
    height: 3;
    width: 1fr;
    dock: top;
    border: solid white;
}

ProjectInfo #projectName {
    width: 1fr;
}

BuildDisplay {
    width: 1fr;
    height: 100%;
}

BuildDisplay #build_tree {
    padding: 1 1 1 1;
    height: auto;
}

BuildDisplay #console {
    border: solid grey;
    height: 1fr;
}

BuildDisplay #console:focus {
    border: solid white;
}
